:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f1f1f1;
  color: #000;

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 2.6rem;
  margin: 5px 0 14px 0;
}

.container {
  display: grid;
  width: 550px;
  height: 450px;
  /* box-shadow: 10px 10px 5px #aaaaaa; */
  box-shadow: 4px 3px 4px 5px rgb(155, 153, 153);
}

.colorButtons {
  margin: 20px 0 10px 0;
}

button {
  padding: 10px 15px;
  border: 1px solid rgb(72, 71, 71);
  border-radius: 8px;
  font-size: 1rem;
}

button[onclick="changeColorToUserChoice('black')"]:hover {
  background: #000;
  color: #fff;
}

button[onclick="changeColorToUserChoice('grey')"]:hover {
  background: rgb(69, 69, 69);
  color: #fff;
}

button[onclick="changeColorToUserChoice('white')"]:hover {
  background: #fff;
  color: #000;
  border: none;
}

button[onclick="resetGrid()"]:hover {
  background: red;
  color: #fff;
}

.setSize> button:hover {
  background: #766262;
  color: #fff;
}